.btn {
    display: inline-block;
    cursor: pointer;
    padding: 1em 1.6em;
    position: relative;
    overflow: hidden;
}

.btn.thin {
    padding: 0.4em 1em;
}

.btn.square {
    border-radius: 0;
}

.btn.rounded {
    border-radius: 0.6em;
}

.btn.pill {
    border-radius: 2em;
}

.btn:not(.slide) {
    background-color: var(--colors-dark);
    color: var(--colors-light);
    border: 0;
    transition: color 200ms ease, background-color 200ms ease;
}

.btn:not(.slide):hover:not([disabled]) {
    background-color: var(--colors-grey-800);
}

.btn:not(.slide).light {
    background-color: var(--colors-light);
    color: var(--colors-dark);
}

.btn:not(.slide).light:hover:not([disabled]) {
    background-color: var(--colors-light);
}

.btn:not(.slide).dark {
    background-color: var(--colors-dark);
    color: var(--colors-light);
}

.btn:not(.slide).dark:hover:not([disabled]) {
    background-color: var(--colors-dark);
}

.btn:not(.slide).primary {
    background-color: var(--colors-primary);
    color: var(--colors-light);
}

.btn:not(.slide).primary:hover:not([disabled]) {
    background-color: var(--colors-primary-dark);
}

.btn:not(.slide).secondary {
    background-color: var(--colors-secondary);
    color: var(--colors-light);
}

.btn:not(.slide).secondary:hover:not([disabled]) {
    background-color: var(--colors-secondary-dark);
}

.btn:not(.slide).accent {
    background-color: var(--colors-accent);
    color: var(--colors-light);
}

.btn:not(.slide).accent:hover:not([disabled]) {
    background-color: var(--colors-accent-dark);
}

.btn:not(.slide).danger {
    background-color: var(--colors-danger);
    color: var(--colors-light);
}

.btn:not(.slide).danger:hover:not([disabled]) {
    background-color: var(--colors-danger-dark);
}

.btn.slide {
    color: var(--colors-light);
    background-color: transparent;
    border-style: solid;
    position: relative;
    overflow: hidden;
    transition: border-color .2s ease;
    border-width: 2px;
    width: fit-content;
    filter: grayscale(0)
}

.btn.slide:hover:not([disabled]) {
    border-color: var(--colors-light);
}

.btn.slide::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--colors-light);
    opacity: .15;
    position: absolute;
    transition: left .2s ease;
    top: 0;
    left: 100%;
}

.btn.slide.from-left::before {
    left: -100%
}

.btn.slide.from-right::before {
    left: 100%
}

.btn.slide:hover::before {
    left: 0;
}

.btn.slide.light {
    border-color: rgba(var(--colors-light-rgb), .15);
    color: var(--colors-light)
}

.btn.slide.dark {
    border-color: rgba(var(--colors-dark-rgb), .15);
    color: var(--colors-dark)
}

.btn.slide.primary {
    border-color: rgba(var(--colors-primary-rgb), .15);
    color: var(--colors-primary)
}

.btn.slide.secondary {
    border-color: rgba(var(--colors-secondary-rgb), .15);
    color: var(--colors-secondary)
}

.btn.slide.accent {
    border-color: rgba(var(--colors-accent-rgb), .15);
    color: var(--colors-accent)
}

.btn.slide.danger {
    border-color: rgba(var(--colors-danger-rgb), .15);
    color: var(--colors-danger)
}

.btn.slide.light:hover:not([disabled]) {
    border-color: var(--colors-light);
}

.btn.slide.dark:hover:not([disabled]) {
    border-color: var(--colors-dark);
}

.btn.slide.primary:hover:not([disabled]) {
    border-color: var(--colors-primary);
}

.btn.slide.secondary:hover:not([disabled]) {
    border-color: var(--colors-secondary);
}

.btn.slide.accent:hover:not([disabled]) {
    border-color: var(--colors-accent);
}

.btn.slide.danger:hover:not([disabled]) {
    border-color: var(--colors-danger);
}

.btn.slide.light::before {
    background-color: var(--colors-light);
}

.btn.slide.dark::before {
    background-color: var(--colors-dark);
}

.btn.slide.primary::before {
    background-color: var(--colors-primary);
}

.btn.slide.secondary::before {
    background-color: var(--colors-secondary);
}

.btn.slide.accent::before {
    background-color: var(--colors-accent);
}

.btn.slide.danger::before {
    background-color: var(--colors-danger);
}

[disabled].btn.slide::before {
    left: 100%!important;
}

[disabled].btn.slide {
    filter: grayscale(1)
}
