.card-grid {
    display: flex;
    background: transparent;
    min-width: 360px;
}

.card-column {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 360px;
}

.card-container {
    padding: 12px;
    background: transparent;
    min-width: 360px
}

.card {
    width: inherit;
    background-color: var(--colors-light);
    padding: 32px;
    border-radius: 8px;
    box-shadow: rgb(35 68 101 / 10%) 0px 4px 16px, rgb(35 68 101 / 15%) 0px 4px 4px;
    display: flex;
    min-width: calc(360px - 12px);
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0px;
}

.card-content-spaced {
    width: inherit;
    padding-bottom: 16px;
}

.card-content-list {
    width: inherit;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.card-content-list-item:not(:last-child) {
    box-shadow: rgb(239 246 253) 0px 1px 0px;
}

.card-content-list-item:last-child {
    box-shadow: none;
}

.card-content-list-item {
    width: inherit;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.card-separator {
    background: transparent;
    min-width: 360px;
    width: 100%;
}
