.visibleoverflow {
    overflow: visible
}

.hiddenoverflow {
    overflow: hidden
}

.box {
    border-radius: 16px;
    overflow: hidden;
}

.fake {
    opacity: 0;
}

.danger {
    color: var(--colors-danger)!important;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto !important;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--body-background-color);
    background-image: var(--body-background);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-rendering: optimizeSpeed;
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

pre,
code,
address,
caption,
th,
figcaption {
    font-size: 1em;
    font-weight: normal;
    font-style: normal
}

fieldset,
iframe {
    border: 0
}

img,
picture,
.image {
    max-width: 100%;
    display: block;
}

caption,
th {
    text-align: left
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

main,
summary,
details {
    display: block
}

audio,
canvas,
video,
progress {
    vertical-align: baseline
}

 :focus {
    outline: 4px solid rgba(255, 255, 255, .5);
    outline-offset: 1px;
}

 :focus[data-focus-method="mouse"]:not(input):not(textarea):not(select),
 :focus[data-focus-method="touch"]:not(input):not(textarea):not(select) {
    outline: none
}

 ::-moz-focus-inner {
    border: 0;
    padding: 0
}

body,
input,
textarea,
select,
button {
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left
}

.visibly-hidden {
    visibility: hidden !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 0px !important;
    height: 0px !important;
}

.notextselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nopointerevents {
    pointer-events: none;
}

.btn {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: inherit;
    vertical-align: inherit;
}

.btn:disabled {
    cursor: default;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.fixed {
    position: fixed;
}

.abs {
    position: absolute;
}

.static {
    position: static;
}

.m-n {
    margin-top: var(--margin-none);
    margin-right: var(--margin-none);
    margin-bottom: var(--margin-none);
    margin-left: var(--margin-none)
}

.m-n-t {
    margin-top: var(--margin-none)
}

.m-n-b {
    margin-bottom: var(--margin-none)
}

.m-n-l {
    margin-left: var(--margin-none)
}

.m-n-r {
    margin-right: var(--margin-none)
}

.m-n-h {
    margin-left: var(--margin-none);
    margin-right: var(--margin-none)
}

.m-n-v {
    margin-top: var(--margin-none);
    margin-bottom: var(--margin-none)
}

.m-xs {
    margin-top: var(--margin-xs);
    margin-right: var(--margin-xs);
    margin-bottom: var(--margin-xs);
    margin-left: var(--margin-xs)
}

.m-xs-t {
    margin-top: var(--margin-xs)
}

.m-xs-b {
    margin-bottom: var(--margin-xs)
}

.m-xs-l {
    margin-left: var(--margin-xs)
}

.m-xs-r {
    margin-right: var(--margin-xs)
}

.m-xs-h {
    margin-left: var(--margin-xs);
    margin-right: var(--margin-xs)
}

.m-xs-v {
    margin-top: var(--margin-xs);
    margin-bottom: var(--margin-xs)
}

.m-s {
    margin-top: var(--margin-s);
    margin-right: var(--margin-s);
    margin-bottom: var(--margin-s);
    margin-left: var(--margin-s)
}

.m-s-t {
    margin-top: var(--margin-s)
}

.m-s-b {
    margin-bottom: var(--margin-s)
}

.m-s-l {
    margin-left: var(--margin-s)
}

.m-s-r {
    margin-right: var(--margin-s)
}

.m-s-h {
    margin-left: var(--margin-s);
    margin-right: var(--margin-s)
}

.m-s-v {
    margin-top: var(--margin-s);
    margin-bottom: var(--margin-s)
}

.m-m {
    margin-top: var(--margin-m);
    margin-right: var(--margin-m);
    margin-bottom: var(--margin-m);
    margin-left: var(--margin-m)
}

.m-m-t {
    margin-top: var(--margin-m)
}

.m-m-b {
    margin-bottom: var(--margin-m)
}

.m-m-l {
    margin-left: var(--margin-m)
}

.m-m-r {
    margin-right: var(--margin-m)
}

.m-m-h {
    margin-left: var(--margin-m);
    margin-right: var(--margin-m)
}

.m-m-v {
    margin-top: var(--margin-m);
    margin-bottom: var(--margin-m)
}

.m-l {
    margin-top: var(--margin-l);
    margin-right: var(--margin-l);
    margin-bottom: var(--margin-l);
    margin-left: var(--margin-l)
}

.m-l-t {
    margin-top: var(--margin-l)
}

.m-l-b {
    margin-bottom: var(--margin-l)
}

.m-l-l {
    margin-left: var(--margin-l)
}

.m-l-r {
    margin-right: var(--margin-l)
}

.m-l-h {
    margin-left: var(--margin-l);
    margin-right: var(--margin-l)
}

.m-l-v {
    margin-top: var(--margin-l);
    margin-bottom: var(--margin-l)
}

.m-xl {
    margin-top: var(--margin-xl);
    margin-right: var(--margin-xl);
    margin-bottom: var(--margin-xl);
    margin-left: var(--margin-xl)
}

.m-xl-t {
    margin-top: var(--margin-xl)
}

.m-xl-b {
    margin-bottom: var(--margin-xl)
}

.m-xl-l {
    margin-left: var(--margin-xl)
}

.m-xl-r {
    margin-right: var(--margin-xl)
}

.m-xl-h {
    margin-left: var(--margin-xl);
    margin-right: var(--margin-xl)
}

.m-xl-v {
    margin-top: var(--margin-xl);
    margin-bottom: var(--margin-xl)
}

.m-a {
    margin-top: var(--margin-auto);
    margin-right: var(--margin-auto);
    margin-bottom: var(--margin-auto);
    margin-left: var(--margin-auto)
}

.m-a-t {
    margin-top: var(--margin-auto)
}

.m-a-b {
    margin-bottom: var(--margin-auto)
}

.m-a-l {
    margin-left: var(--margin-auto)
}

.m-a-r {
    margin-right: var(--margin-auto)
}

.m-a-h {
    margin-left: var(--margin-auto);
    margin-right: var(--margin-auto)
}

.m-a-v {
    margin-top: var(--margin-auto);
    margin-bottom: var(--margin-auto)
}

.p-n {
    padding-top: var(--padding-none);
    padding-right: var(--padding-none);
    padding-bottom: var(--padding-none);
    padding-left: var(--padding-none)
}

.p-n-t {
    padding-top: var(--padding-none)
}

.p-n-b {
    padding-bottom: var(--padding-none)
}

.p-n-l {
    padding-left: var(--padding-none)
}

.p-n-r {
    padding-right: var(--padding-none)
}

.p-n-h {
    padding-left: var(--padding-none);
    padding-right: var(--padding-none)
}

.p-n-v {
    padding-top: var(--padding-none);
    padding-bottom: var(--padding-none)
}

.p-xs {
    padding-top: var(--padding-xs);
    padding-right: var(--padding-xs);
    padding-bottom: var(--padding-xs);
    padding-left: var(--padding-xs)
}

.p-xs-t {
    padding-top: var(--padding-xs)
}

.p-xs-b {
    padding-bottom: var(--padding-xs)
}

.p-xs-l {
    padding-left: var(--padding-xs)
}

.p-xs-r {
    padding-right: var(--padding-xs)
}

.p-xs-h {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs)
}

.p-xs-v {
    padding-top: var(--padding-xs);
    padding-bottom: var(--padding-xs)
}

.p-s {
    padding-top: var(--padding-s);
    padding-right: var(--padding-s);
    padding-bottom: var(--padding-s);
    padding-left: var(--padding-s)
}

.p-s-t {
    padding-top: var(--padding-s)
}

.p-s-b {
    padding-bottom: var(--padding-s)
}

.p-s-l {
    padding-left: var(--padding-s)
}

.p-s-r {
    padding-right: var(--padding-s)
}

.p-s-h {
    padding-left: var(--padding-s);
    padding-right: var(--padding-s)
}

.p-s-v {
    padding-top: var(--padding-s);
    padding-bottom: var(--padding-s)
}

.p-m {
    padding-top: var(--padding-m);
    padding-right: var(--padding-m);
    padding-bottom: var(--padding-m);
    padding-left: var(--padding-m)
}

.p-m-t {
    padding-top: var(--padding-m)
}

.p-m-b {
    padding-bottom: var(--padding-m)
}

.p-m-l {
    padding-left: var(--padding-m)
}

.p-m-r {
    padding-right: var(--padding-m)
}

.p-m-h {
    padding-left: var(--padding-m);
    padding-right: var(--padding-m)
}

.p-m-v {
    padding-top: var(--padding-m);
    padding-bottom: var(--padding-m)
}

.p-l {
    padding-top: var(--padding-l);
    padding-right: var(--padding-l);
    padding-bottom: var(--padding-l);
    padding-left: var(--padding-l)
}

.p-l-t {
    padding-top: var(--padding-l)
}

.p-l-b {
    padding-bottom: var(--padding-l)
}

.p-l-l {
    padding-left: var(--padding-l)
}

.p-l-r {
    padding-right: var(--padding-l)
}

.p-l-h {
    padding-left: var(--padding-l);
    padding-right: var(--padding-l)
}

.p-l-v {
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-l)
}

.p-xl {
    padding-top: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    padding-left: var(--padding-xl)
}

.p-xl-t {
    padding-top: var(--padding-xl)
}

a.p-xl-b {
    padding-bottom: var(--padding-xl)
}

.p-xl-l {
    padding-left: var(--padding-xl)
}

.p-xl-r {
    padding-right: var(--padding-xl)
}

.p-xl-h {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl)
}

.p-xl-v {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl)
}

.p-a {
    padding-top: var(--padding-auto);
    padding-right: var(--padding-auto);
    padding-bottom: var(--padding-auto);
    padding-left: var(--padding-auto)
}

.p-a-t {
    padding-top: var(--padding-auto)
}

.p-a-b {
    padding-bottom: var(--padding-auto)
}

.p-a-l {
    padding-left: var(--padding-auto)
}

.p-a-r {
    padding-right: var(--padding-auto)
}

.p-a-h {
    padding-left: var(--padding-auto);
    padding-right: var(--padding-auto)
}

.p-a-v {
    padding-top: var(--padding-auto);
    padding-bottom: var(--padding-auto)
}

.flex {
    display: flex;
}

.justify-content-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.justify-content-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.justify-content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.justify-content-spacebetween {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.justify-content-spacearound {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.align-items-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.align-items-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.align-self-start {
    -ms-flex-item-align: start;
    align-self: flex-start
}

.align-self-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.horizontal-separator {
    width: 100%;
    height: 0px;
    border-top: 2px solid var(--colors-grey-400);
}
