.info-banner {
    display: flex;
    width: 200px;
    min-height: 300px;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
    padding: 24px 16px;
    position: absolute;
    left: 98vw;
    transform: translateY(-50%) translateX(calc(calc(-100% - 8px) * 1));
    z-index: 2;
}

.info-banner.one {
    transform: translateY(-50%) translateX(calc(calc(-100% - 8px) * 1));
}

.info-banner.two {
    transform: translateY(-50%) translateX(calc(calc(-100% - 8px) * 2));
}

.info-banner.three {
    transform: translateY(-50%) translateX(calc(calc(-100% - 8px) * 3));
}

.info-banner.light,
.info-banner.light::before {
    background-color: var(--colors-light);
}

.info-banner.dark,
.info-banner.dark::before {
    background-color: var(--colors-dark);
}

.info-banner.primary,
.info-banner.primary::before {
    background-color: var(--colors-primary);
}

.info-banner.secondary,
.info-banner.secondary::before {
    background-color: var(--colors-secondary);
}

.info-banner.accent,
.info-banner.accent::before {
    background-color: var(--colors-accent);
}

.info-banner .info-banner-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    padding: 0px;
    z-index: 3;
}

.info-banner .info-banner-separator {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.info-banner .info-banner-separator::before {
    content: "";
    display: inline-block;
    width: 95%;
    height: 2px;
    background-color: var(--colors-light);
    border-radius: 1em;
}

.info-banner .text {
    text-align: center;
    font-size: 18px;
}

.info-banner .info-banner-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-banner .info-banner-header .text.one {
    text-transform: uppercase;
    font-size: 24px;
}

.info-banner .info-banner-info .text {
    line-height: 2em;
}

.info-banner.image-background::before {
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    z-index: 1;
    transition: background-size 400ms ease-out;
}

.info-banner.image-background:hover::before {
    background-size: 450%;
}

@media screen and (max-width:1040px) {
    .info-banner {
        transform: translateY(-50%);
    }
    .info-banner.one {
        right: 16px;
        transform: translateY(-50%) translateX(-100%);
    }
    .info-banner.two {
        left: 50vw;
        transform: translateY(-50%) translateX(-50%);
    }
    .info-banner.three {
        left: 16px;
        transform: translateY(-50%);
    }
}
