:root {
    --section-content-less-1440-width: 100%;
    --section-content-less-640-width: 100%;
    --section-header-less-1440-width: 80%;
    --section-header-less-640-width: 100%;
    --section-separator-height: 8px;
}

.section {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100vw;
}

.section .section-content {
    height: calc(100% - 96px);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.section .section-content.dynamic-width {
    width: 80%;
}

.section .section-content.fixed-width {
    width: var(--section-fixed-width, 1440px);
}

.section .section-header {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    width: var(--section-header-desktop-width, 60%);
    text-align: -webkit-center;
    text-align: center;
}

.section .section-body {
    display: flex;
    position: relative;
    width: 100%;
}

.section-separator {
    background: var(--body-background);
    width: 100%;
    height: var(--section-separator-height);
}

.horizontal-section-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    flex-wrap: nowrap;
    width: fit-content;
}

@media only screen and (max-width:1440px) {
    .section .section-content.fixed-width {
        width: var(--section-content-less-1440-width);
    }
    .section .section-header {
        width: var(--section-header-less-1440-width, 80%);
    }
}

@media only screen and (max-width:640px) {
    .section .section-content.fixed-width {
        width: var(--section-content-less-640-width);
    }
    .section .section-header {
        width: var(--section-header-less-640-width, 100%);
    }
}

.section-parallax-background * {
    z-index: 2;
}

.section-parallax-background .section-background {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    filter: blur(2px);
}
