.text {
    font-family: var(--font-body);
    font-weight: 400;
    width: fit-content;
    font-size: 16px;
    overflow: hidden;
    text-decoration: none;
    text-transform: none;
}

.text.ellipsis {
    text-overflow: ellipsis;
}

.text.large {
    font-size: 24px;
}

.text.default-size {
    font-size: 16px;
}

.text.small {
    font-size: 12px;
}

.text.left {
    text-align: left;
}

.text.center {
    text-align: center;
}

.text.right {
    text-align: right;
}

.text.justify {
    text-align: justify;
}

.text.header {
    font-family: var(--font-header);
    font-weight: 600;
    font-size: 32px;
}

.text.header.large {
    font-size: 48px;
}

.text.header.default-size {
    font-size: 32px;
}

.text.header.small {
    font-size: 28px;
}

.text.jumbo {
    font-family: var(--font-jumbo);
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 10px;
}

.text.xl {
    font-size: 64px;
}

.text.header.xl {
    font-size: 96px;
}

.text.jumbo.xl {
    font-size: 128px;
}

.text.lowercase {
    text-transform: lowercase;
}

.text.uppercase {
    text-transform: uppercase;
}

.text.thin {
    font-family: var(--font-light);
    font-weight: 100;
}

.text.bold {
    font-weight: 700;
}

.text.footnote {
    font-size: 12px;
    line-height: normal;
}

em {
    font-style: normal;
    display: inline-block;
}

sup,
sub {
    position: relative;
    font-size: 0.6em;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

abbr {
    border: 0;
}

.text.italic {
    font-style: oblique;
}

.text.light {
    color: var(--colors-light);
}

.text.dark {
    color: var(--colors-dark);
}

.text.primary {
    color: var(--colors-primary);
}

.text.secondary {
    color: var(--colors-secondary);
}

.text.accent {
    color: var(--colors-accent);
}

.text.grey-100 {
    color: var(--colors-grey-100);
}

.text.grey-200 {
    color: var(--colors-grey-200);
}

.text.grey-300 {
    color: var(--colors-grey-300);
}

.text.grey-400 {
    color: var(--colors-grey-400);
}

.text.grey-500 {
    color: var(--colors-grey-500);
}

.text.grey-600 {
    color: var(--colors-grey-600);
}

.text.grey-700 {
    color: var(--colors-grey-700);
}

.text.grey-800 {
    color: var(--colors-grey-800);
}

.text.footnote.light {
    color: var(--colors-grey-200);
}

.text.footnote.dark {
    color: var(--colors-grey-700);
}

.text.background-clip {
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
