::selection {
    background-color: var(--selected-text-light-background-color);
    color: var(--selected-text-light-color);
}

.style-dark ::selection {
    background-color: var(--selected-text-light-background-color);
    color: var(--selected-text-light-color);
}

.style-light ::selection {
    background-color: var(--selected-text-dark-background-color);
    color: var(--selected-text-dark-color);
}
