@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --colors-primary-light: #58a1ee;
    --colors-primary: #1c7fe9;
    --colors-primary-dark: #1263ba;
    --colors-secondary-light: #dd51e1;
    --colors-secondary: #a91dae;
    --colors-secondary-dark: #88188c;
    --colors-accent-light: #6acbf1;
    --colors-accent: #27b3eb;
    --colors-accent-dark: #118bbb;
    --colors-light: #f8f9fa;
    --colors-dark: #121212;
    --colors-success: green;
    --colors-warning: orange;
    --colors-danger: #f85149;
    --colors-danger-dark: #bf3630;
    --colors-danger-rgb: 248, 81, 73;
    --colors-danger-dark-rgb: 191, 54, 48;
    --colors-primary-light-rgb: 88, 161, 238;
    --colors-primary-rgb: 28, 127, 233;
    --colors-primary-dark-rgb: 18, 99, 186;
    --colors-secondary-light-rgb: 221, 81, 225;
    --colors-secondary-rgb: 169, 29, 174;
    --colors-secondary-dark-rgb: 136, 24, 140;
    --colors-accent-light-rgb: 106, 203, 241;
    --colors-accent-rgb: 39, 179, 235;
    --colors-accent-dark-rgb: 17, 139, 187;
    --colors-light-rgb: 248, 249, 250;
    --colors-dark-rgb: 18, 18, 18;
    --colors-grey-100: #dee2e6;
    --colors-grey-200: #ced4da;
    --colors-grey-300: #adb5bd;
    --colors-grey-400: #81888F;
    --colors-grey-500: #8d959d;
    --colors-grey-600: #495057;
    --colors-grey-700: #343a40;
    --colors-grey-800: #212529;
    --hamburger-color: var(--colors-dark);
    --scrollbar-display: initial;
    --scrollbar-background-color: transparent;
    --scrollbar-thumb-color: #fff;
    --scrollbar-thumb-color-hover: #e2e2e2;
    --scrollbar-thumb-border-radius: 1em;
    --scrollbar-width: 4px;
    --selected-text-light-background-color: rgba(var(--colors-light-rgb), .5);
    --selected-text-dark-background-color: rgba(var(--colors-dark-rgb), .5);
    --selected-text-light-color: unset;
    --selected-text-dark-color: unset;
    --body-background-color: var(--colors-light);
    --body-background: unset;
    --font-sans-serif: "Helvetica", "Arial", sans-serif;
    --font-serif: serif;
    --font-body: "Roboto", var(--font-sans-serif);
    --font-header: "Lexend", var(--font-sans-serif);
    --font-jumbo: "Lexend", var(--font-sans-serif);
    --font-light: "Source Code Pro", "consolas", monospace;
    --margin-none: 0px;
    --margin-xs: 8px;
    --margin-s: calc(var(--margin-xs) * 2);
    --margin-m: calc(var(--margin-s) * 2);
    --margin-l: calc(var(--margin-m) * 2);
    --margin-xl: calc(var(--margin-l) * 2);
    --margin-auto: auto;
    --padding-none: 0px;
    --padding-xs: 8px;
    --padding-s: calc(var(--padding-xs) * 2);
    --padding-m: calc(var(--padding-s) * 2);
    --padding-l: calc(var(--padding-m) * 2);
    --padding-xl: calc(var(--padding-l) * 2);
    --padding-auto: auto;
}
