/*.--headline {
    width:100%;
    --headline-m-width:100%;

    display:flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    text-align:center;

    padding-left:32px;
    padding-right:32px;
    padding-top:64px;
    padding-bottom:64px;

    background-color:white;
    background-position: 50% 50%;
    background-size: cover;
}

.--headline.--type-4,
.--headline.--type-6 {
  background-blend-mode: overlay;
  background-color: #ffffff70;
}

.--headline.--type-4 {
  min-height: 328px;
}

.--headline.--type-6
.--headline.--type-11 {
  min-height: 432px;
}

.--headline.--type-7,
.--headline.--type-10 {
    flex-direction: row;
    min-height: 328px;
    justify-content: space-between;
}

.--headline .--headline-text-container {
    max-width:75%;
    width:75%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.--headline .--headline-text {
    font-size: 64px;
    font-family: var(--font-header);
    font-weight: 600;
    width: fit-content;
    overflow: hidden;
    text-decoration: none;
    text-transform: none;
    text-align: center;
}

.--headline .--headline-subtitle {
    font-size: 24px;
    font-family: var(--font-header);
    font-weight: 400;
    width: fit-content;
    overflow: hidden;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    color:#aaaaaa;
}

.--headline .--headline-btn {
    margin-top:16px;
}

.--headline .--headline-image {
    max-width: 75%;
    width: 75%;
    height: 122px;
    margin-bottom: 8px;
}

.--headline .--headline-image-figure {
    width: 100%;
    height: 100%;
    background-position: center 25%;
    background-size: cover;
}



.--headline.--type-3 .--headline-text-container,
.--headline.--type-5 .--headline-text-container,
.--headline.--type-6 .--headline-text-container,
.--headline.--type-7 .--headline-text-container,
.--headline.--type-9 .--headline-text-container,
.--headline.--type-10 .--headline-text-container,
.--headline.--type-11 .--headline-text-container {
    align-items: flex-start;
}

.--headline.--type-7 .--headline-text-container,
.--headline.--type-10 .--headline-text-container {
    width:50%;
    margin-left: 10%;
}

.--headline.--type-4 .--headline-subtitle,
.--headline.--type-5 .--headline-subtitle,
.--headline.--type-6 .--headline-subtitle,
.--headline.--type-11 .--headline-subtitle {
    color:black;
}

.--headline.--type-7 .--headline-image,
.--headline.--type-10 .--headline-image {
    margin-bottom:0px;
}

.--headline.--type-7 .--headline-image,
.--headline.--type-10 .--headline-image {
    height: 100%;
    width: 40%;
}

.--headline.--type-12 .--headline-image {
  margin-bottom: 0px;
  margin-top: 8px;
}

.--headline.--type-5,
.--headline.--type-7,
.--headline.--type-8,
.--headline.--type-9,
.--headline.--type-11 {
    background-color: #577399;
    color:white;
}

.--headline.--type-5 .--headline-subtitle,
.--headline.--type-7 .--headline-subtitle,
.--headline.--type-8 .--headline-subtitle,
.--headline.--type-9 .--headline-subtitle,
.--headline.--type-11 .--headline-subtitle {
    color:white;
}

*/

[data-preview] .--headline {
    padding-left:16px;
    padding-right:16px;
    padding-top:32px;
    padding-bottom:32px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: transform 120ms ease-in-out;
    margin-bottom: 32px;
    cursor:pointer;
}

[data-preview] .--headline.--type-4,
[data-preview] .--headline.--type-7,
[data-preview] .--headline.--type-10 {
    min-height: 216px;
}

[data-preview] .--headline.--type-6,
[data-preview] .--headline.--type-11 {
    min-height: 164px;
}

[data-preview] .--headline:hover {
    transform: translateY(-6px);
}

[data-preview] .--headline:first-of-type {
    margin-top: 6px;
}

/*
[data-preview].--headline .--headline-text-container {
    max-width:80%;
}

[data-preview].--headline .--headline-text {
    font-size: 32px;
}

[data-preview].--headline .--headline-subtitle {
    font-size: 12px;
}

[data-preview].--headline .--headline-btn {
    display:flex;
    margin-top:8px;
    transition: background-color 999999s cubic-bezier(1,0,1,-0.15);
}

[data-preview].--headline .--headline-btn.thin {
    padding: 0.2em 0.5em;
}

[data-preview].--headline .--headline-btn.rounded {
    border-radius:0.3em;
}

[data-preview].--headline .--headline-btn .text {
    font-size:8px;
}

*/

/*

.--headline.--type-1 .--headline-image-figure,
.--headline.--type-5 .--headline-image-figure,
.--headline.--type-12 .--headline-image-figure {
    background-image:var(--background-image-1);
}

.--headline.--type-4,
.--headline.--type-6 {
    background-image: var(--background-image-2);
}

.--headline.--type-7 .--headline-image-figure,
.--headline.--type-10 .--headline-image-figure {
    background-image: var(--background-image-3);
}

.--headline.--type-11 {
    background-image: var(--background-image-4);
    background-position: 50% 0%;
}

.--headline {
    --background-image-1:url("../../../static/img/stock/pebbles-1-1920-1080.jpg");
    --background-image-2:url("../../../static/img/stock/pebbles-2-1920-1080.jpg");
    --background-image-3:url("../../../static/img/stock/pebbles-2-1920-1080.jpg");
    --background-image-4:url("../../../static/img/stock/pebbles-1-1920-1080.jpg");
}
*/