{% extends "base.html" %}

{% set navbarLogoColor = "primary" %}
{% set navbarOptionsEnabled = True %}

{% block content %}

<link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet" type="text/css" />
<div class="application-content">
  <div class="text-header-container">
    <h2 class="text header large dark one">Welcome, {{current_user.name}}</h2>
  </div>
  <div class="empty-container">
    <div class="empty-image"></div>
    <div class="empty-text-container">
      <h4 class="text header dark one">Looks Pretty Empty Here...</h4>
      <a class="text header two link primary" href="{{url_for('site_create')}}">Maybe you should create a new site?</a>
    </div>
  </div>
</div>

{% endblock %}
