.localnav.one {
    border-radius: 1em;
    margin-right: 32px;
}
.localnav.one .localnav-item.one .localnav-item-collapsible-text,
.localnav.one .localnav-item.three .localnav-item-collapsible-text {
    width: 119px;
}
.localnav.one .localnav-item.two .localnav-item-collapsible-text {
    width: 104px;
}
.localnav.one .localnav-item.four .localnav-item-collapsible-text {
    width: 110px;
}
.localnav.one .localnav-item.five .localnav-item-collapsible-text {
    width: 134px;
}

.lightbox-mask {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:9995;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.5);
  visibility:hidden;
  opacity:0;
  transition: opacity 200ms ease-out, visibility 200ms ease-out;
  display: none;
}

.lightbox-mask.shown {
  visibility:visible;
  opacity:1;
  cursor:pointer;
  display: block;
}

.section-selector {
    width:80%;
    height:80%;
    background-color: var(--colors-grey-100);
    border-radius: 1em;
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    z-index: 9996;
}
.section-selector-container {
    position:absolute;
    width: calc(100% - 208px);
    height: calc(100% - 32px);
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    right: 16px;
    opacity:0;
    transform:scale(0.9);
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
    visibility:hidden;
    z-index: 9996;
    display:none;
}
.section-selector-container.shown {
    opacity:1;
    transform:scale(1);
    visibility:visible;
    display: flex;
}
.section-selector-exit-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
}

.section-selector-sidebar {
    width:180px;
    height:100%;
}

.section-selector-nav {
    background-color: transparent;
    display: block;
    height: 100%;
    width: 180px;
    max-height: 100%;
    max-width: 180px;
}
.section-selector-nav .section-selector-nav-content {
    margin: 0 auto;
    position: relative;
    height: inherit;
    z-index: 102;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-selector-nav .section-selector-nav-list {
    cursor: default;
    margin: 0 -8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    align-items: center;
    height: 85%;
    flex-direction: column;
}

.section-selector-nav-item li {
    margin-bottom:6px;
}

.section-selector-nav-item a.link {
    position: relative;
}

.section-selector-content {
    height: 100%;
    display: flex;
    /*width: -webkit-fill-available;*/
    width: calc(100% - 182px);
    align-items: center;
    justify-content: center;
}
.section-selector-content .section-selector-list {
    max-width: 90%;
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.section-selector-content .section-selector-list-item {
    width: 45%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.section-selector-content .section-selector-list::-webkit-scrollbar {
    background: transparent;
}
.section-selector-content .section-selector-list::-webkit-scrollbar-thumb {
    background-color:var(--colors-grey-300);
}

.section-selector-404-error {
    font-weight: 700;
    font-family: var(--font-header);
    font-size: 32px;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    text-transform: none;
    color: var(--colors-danger)!important;
}

.application-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.site-builder {
    width:100%;
    scroll-behavior: auto;
    overflow-y: scroll;
    overscroll-behavior: auto;
    border: 2px solid var(--colors-grey-200);
    border-radius: 1em;
    --scrollbar-display: none;
    position: relative;
}

.site-builder-preview {
  width:100%;
  height:100%;
  position: relative;
}

.site-builder-preview .page {
  width:100%;
}

[data-kraken-section] {
    position: relative;
    display: grid;
    cursor: pointer;
}

@keyframes lock-hash-move {
    from{background-position-x:calc(var(--background-size) * -1)}
    to{background-position-x:var(--background-size)}
}

[data-kraken-section][data-kraken-locked] {
    --hash-stripe-width:20px;
    --hash-opacity:.1;
    --hash-light-color: rgba(var(--colors-light-rgb),var(--hash-opacity));
    --hash-dark-color: rgba(var(--colors-dark-rgb),var(--hash-opacity));
    --background-size: calc(var(--hash-stripe-width) * 16.97);
    background-image: repeating-linear-gradient(45deg, var(--hash-light-color) 0, var(--hash-light-color) var(--hash-stripe-width), var(--hash-dark-color) var(--hash-stripe-width), var(--hash-dark-color) calc(var(--hash-stripe-width) * 2));
    background-size: var(--background-size);
    background-repeat: repeat;
    filter:grayscale(1);
    animation:lock-hash-move 60s linear infinite;
}

[data-kraken-section][data-kraken-section-selected]:not([data-preview]):not([data-kraken-locked]) .controls-ghost-overlay {
    border: 3px solid var(--selected-border-color, #053ea0);
}

[data-kraken-section][data-kraken-section-selected]:not([data-preview])[data-kraken-locked] .controls-ghost-overlay {
    border: 3px solid var(--selected-border-locked-color, #adb5bd);
}

[data-kraken-section]:not([data-preview]):not([data-kraken-locked]):hover .controls .controls-ghost-overlay {
    border: 3px solid var(--hover-border-color);
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 210;
    display: none;  
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: grid;
}

.controls .controls-ghost-overlay {
    position: relative;
    z-index: 201;
    grid-area: var(--position);
    pointer-events: none;
    outline-color: initial;
    border: 0px solid transparent;
    transition: border 80ms ease-in-out;
    --position: 0/0/0/0;
    --outline-color: var(--accent-two);
    --hover-border-color: var(--colors-primary-light);
    --selected-border-color: var(--colors-primary);
    --selected-border-locked-color: var(--colors-grey-300);
}

.controls .controls-resize-handle-container {
    position: absolute;
    z-index: 203;
    align-self: end;
    justify-self: center;
    width: 100%;
    max-width: 1200px;
}

[data-kraken-section][data-kraken-section-selected]:not([data-preview]):not([data-kraken-locked]) .controls .resize-handle,.section-wrapper:hover:not([data-preview]) .controls .resize-handle {
    display:flex
}

.controls .resize-handle {
    display: flex;
    flex-direction: column;
    padding: 4px 20px;
    color: #fff;
    cursor: row-resize;
    background: #357df9;
    border-radius: 3px;
    transition: background .2s cubic-bezier(.4,0,.2,1),transform .1s ease-out;
    transform: translateY(var(--resize-movement-length));
    position: absolute;
    right: 0;
    z-index: 203;
    display: none;
}

.controls .controls-resize-handle-container .trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.grid-item .grid-item-content,
.grid-item .grid-item-content * {
    width:100%;
    height:100%;
}

.section-edit-actions {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    top:0;
    left:100%;
    transform:translateX(calc(-100% - 8px));
    z-index: 104;
    opacity: 1;
    transition: opacity .15s cubic-bezier(.4,0,.2,1), top .12s ease-in-out;
    margin-top:16px;
    margin-right:8px;
}

.section-edit-actions .actions-list {
    display: none;
    justify-content: center;
}

.section-edit-actions.shown .actions-list {
    display:flex;
}

.section-edit-actions .edit-action {
    border-radius: 1em;
    background: var(--colors-light);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-shadow: 0 4px 9px 0 rgba(0,0,0,.15);
    cursor:pointer;
    margin-right:8px;
    transition-property: background-color,box-shadow;
    transition-duration: 115ms;
    transition-timing-function: ease-in-out;
}

.section-edit-actions .edit-action:active {
    --pressed-color: var(--colors-grey-200);
    --inset-shadow-opacity: .15;
    background-color: var(--pressed-color);
    box-shadow: 0 4px 9px 0 rgba(0,0,0,.15), inset 0 0 8px rgba(0,0,0,var(--inset-shadow-opacity));
}

.section-edit-actions .edit-action.hilight-danger:active {
    --pressed-color: var(--colors-danger);
    --inset-shadow-opacity: .35;
}

.element-resize-container {
    display:grid;
    grid-area:1/1/-1/-1;
    visibility:hidden;
    opacity:0;
    transition: opacity 80ms ease-in-out, visibility 80ms ease-in-out, display 80ms ease-in-out;
}

[data-kraken-section]:not([data-kraken-locked]) .grid-item[data-kraken-element-selected] .element-resize-container,
[data-kraken-section]:not([data-kraken-locked]) .grid-item:hover .element-resize-container {
    visibility:visible;
    opacity:1;
}

.element-resize-container .resize-corners {
    position: relative;
    z-index: 1;
    display: grid;
    pointer-events: none;
}

.element-resize-container .resize-corner {
    position: absolute;
    grid-area: 1/1/-1/-1;
    padding: 48px;
    pointer-events: all;
}

.element-resize-container .resize-corner-visual-element{
    width: 10px;
    height: 10px;
    background: white;
    outline: 2px solid var(--colors-secondary);
}

.element-resize-container .resize-corner-top-left {
    align-self: start;
    justify-self: start;
    cursor: nwse-resize;
    transform: translate(-50%,-50%);
}

.element-resize-container .resize-corner-top-right {
    align-self: start;
    justify-self: end;
    cursor: nesw-resize;
    transform: translate(50%,-50%);
}

.element-resize-container .resize-corner-bottom-left {
    align-self: end;
    justify-self: start;
    cursor: nesw-resize;
    transform: translate(-50%,50%);
}

.element-resize-container .resize-corner-bottom-right {
    align-self: end;
    justify-self: end;
    cursor: nwse-resize;
    transform: translate(50%,50%);
}

.element-resize-container .resize-corner-horizontal-left {
    align-self: center;
    justify-self: start;
    cursor: ew-resize;
    transform: translateX(-50%);
}

.element-resize-container .resize-corner-horizontal-right {
    align-self: center;
    justify-self: end;
    cursor: ew-resize;
    transform: translateX(50%);
}

.element-resize-container .element-outline {
    --outline-style: solid;
    --outline-color: var(--colors-secondary);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    outline: 2px var(--outline-style) var(--outline-color);
}

.section-selector-list [data-preview] section {
    border: 2px solid rgba(var(--colors-primary-light-rgb),0.25);
    border-radius: 0.25em;
    transition-property: transform border;
    transition-duration: 120ms;
    transition-timing-function: ease-in-out;
}

.section-selector-list [data-preview] section:hover {
    border: 2px solid rgba(var(--colors-primary-light-rgb),0.75);
}

.section-selector-nav-list .link {
    opacity:.5;
}

.section-selector-nav-list .link:hoverd {
    opacity:.85;
}

.localnav.localnav-collapsible .localnav-item.four {
    --save-animation-duration:2s;
}

.localnav.localnav-collapsible .localnav-item.four .saveloader,
.localnav.localnav-collapsible .localnav-item.four .savetick,
.localnav.localnav-collapsible .localnav-item.four .savecross {
    position: absolute;
    top:0;
    opacity:0;
}

.localnav.localnav-collapsible .localnav-item.four .saveloader .faicon {
    animation: saveloader_rotate infinite 3s linear;
}

.localnav.localnav-collapsible .localnav-item.four .localnav-item-collapsible-icon .fa-save {
    transition: opacity 500ms ease-in-out;
}

.localnav.localnav-collapsible .localnav-item.four .saveloader {
    transition: opacity 500ms 200ms ease-in-out;
}

.localnav.localnav-collapsible .localnav-item.four .savetick,
.localnav.localnav-collapsible .localnav-item.four .savecross {
    transition: opacity 500ms ease-in-out;
}

.localnav.localnav-collapsible .localnav-item.four[data-kraken-savestate="saving"] .localnav-item-collapsible-icon .fa-save,
.localnav.localnav-collapsible .localnav-item.four[data-kraken-savestate="saving"] .savetick,
.localnav.localnav-collapsible .localnav-item.four[data-kraken-savestate="success"] .localnav-item-collapsible-icon .fa-save,
.localnav.localnav-collapsible .localnav-item.four[data-kraken-savestate="success"] .saveloader,
.localnav.localnav-collapsible .localnav-item.four[data-kraken-savestate="error"] .localnav-item-collapsible-icon .fa-save,
.localnav.localnav-collapsible .localnav-item.four[data-kraken-savestate="error"] .saveloader,
.localnav.localnav-collapsible .localnav-item.four:not([data-kraken-savestate]) .saveloader,
.localnav.localnav-collapsible .localnav-item.four:not([data-kraken-savestate]) .savetick,
.localnav.localnav-collapsible .localnav-item.four:not([data-kraken-savestate]) .savecross {
    opacity:0;
}

.localnav.localnav-collapsible .localnav-item.four[data-kraken-savestate="saving"] .saveloader,
.localnav.localnav-collapsible .localnav-item.four[data-kraken-savestate="success"] .savetick,
.localnav.localnav-collapsible .localnav-item.four[data-kraken-savestate="error"] .savecross,
.localnav.localnav-collapsible .localnav-item.four:not([data-kraken-savestate]) .localnav-item-collapsible-icon .fa-save {
    opacity:1;
}

.localnav.localnav-collapsible .localnav-item.four .savetick {
    color:var(--colors-success);
}

.localnav.localnav-collapsible .localnav-item.four .savecross {
    color:red;
}


@keyframes saveloader_rotate {
    from {
        transform:rotate(0deg)
    } to {
        transform:rotate(360deg)
    }
}