.new-site-form {
    width:100%;
    margin-bottom: 32px;
}

.new-site-form .form-input-container {
    padding-bottom:8px;
    padding-left:16px;
}

.new-site-form.one .form-input-container.one {
    display:flex;
    flex-wrap:wrap;
}

.new-site-form.one .form-input-container.one .form-input-content-column {
    height:84px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.new-site-form.one .form-input-container.one .form-input-content-column .text.one {
    padding-top: 8px;
}

.new-site-form.one .form-input-container.one .form-input-content-column * {
    height:32px
}

.new-site-form.one .form-input-container.one [data-form-input-display="inactive"].new-site-input {
    border-color:var(--colors-grey-400);
    box-shadow: none;
}

.new-site-form.one .form-input-container.one [data-form-input-display="success"].new-site-input {
    border-color:var(--colors-success);
    box-shadow: 0px 0px 22px -8px var(--colors-success);
}

.new-site-form.one .form-input-container.one [data-form-input-display="warning"].new-site-input {
    border-color:var(--colors-warning);
    box-shadow: 0px 0px 22px -8px var(--colors-warning);
}

.new-site-form.one .form-input-container.one [data-form-input-display="danger"].new-site-input {
    border-color:var(--colors-danger);
    box-shadow: 0px 0px 22px -8px var(--colors-danger);
}

.new-site-form.one .form-input-container.one .message-container {
    width:100%;
}

.new-site-form.one .form-input-container.three {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-checkbox {
    margin-top:15px;
    margin-bottom:15px;
    width:100%;
    display:flex;
    align-items: center;
}

.input-checkbox-input {
    float: left;
    vertical-align: middle;
    margin-right:8px;
}

.input-checkbox-icon {
    font-size:26px;
    margin-right:8px;
}

.input-checkbox-text-container {
    display:flex;
    flex-direction:column;
}

.new-site-form.two .light-dark-selector-container {
    width:100%;
    display:flex;
    justify-content:center;
}

.new-site-form.two .light-dark-selector {
    display:flex;
    flex-direction:column;
    width:fit-content;
}

.new-site-form.two .light-dark-selector .button-container {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.new-site-form.two .color-display-container .color-display {
    margin-bottom:var(--margin-m);
}

.new-site-form.two .color-display-container .light-dark-display {
    display:flex;
    justify-content:space-around;
}

.new-site-form.two .color-display-container .grey-display {
    height: 160px;
}

.new-site-form.two .color-display-container .color-single-card {
    display:flex;
    align-items:center;
    justify-content:center;
    width:160px;
    height:120px;
    border-radius:1em;
    box-shadow: rgb(0 0 0 / 20%) 0px 6px 40px -10px;
}

.new-site-form.two .color-display-container .color-code {
    font-family:var(--font-header);
}

.new-site-form.two .color-display-container .color-columns {
    box-shadow: rgb(0 0 0 / 10%) 2px 6px 40px -10px;
}

.new-site-form.two .color-display-container .color-columns .color-column {
    box-shadow:none;
}

.new-site-form.two .main-color-display {
    display: flex;
    justify-content: space-between;
}

.new-site-form.two .main-color-display .color-triple-card {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: 140px;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    box-shadow: rgb(0 0 0 / 20%) 0px 6px 40px -10px;
    overflow:hidden;
    position:relative;
}

.new-site-form.two .main-color-display .color-triple-card:not(:last-of-type) {
    margin-right:24px;
}

.new-site-form.two .main-color-display .color-triple-card-main {
    height: 60%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-site-form.two .main-color-display .color-triple-card-sub-container {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.new-site-form.two .main-color-display .color-triple-card-sub {
    width: 50%;
    height: 100%;
}

.new-site-form.two .color-card-picker-input {
    position:absolute;
    top:0;
    left:0;
    -webkit-appearance: none;
    border: none;
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 0;
    cursor: pointer;
}

.sliding-input {
    -webkit-appearance: none;
    height: 100%;
    background: transparent;
    border:none;
}

.sliding-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--colors-light);
    margin-top: -3px;
    box-shadow: 0px 0px 11px -3px rgb(0 0 0 / 50%);
    cursor: pointer;
    border: 1px solid var(--colors-grey-400);
}

.sliding-input::-webkit-slider-runnable-track {
    width: 60%;
    height: 9px;
    background:var(--slider-background)
    border-radius: 3px;
    cursor: pointer;
}

.input-slider-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-slider-option .sliding-input {
    width:40%;
}

.color-options {
    display:flex;
    flex-direction:column;
}

.color-options .input-slider-option:not(:last-of-type) {
    margin-bottom:var(--margin-xs)
}

.input-slider-option #new_site_colors_light_dark_bounds_slider.sliding-input::-webkit-slider-runnable-track {
    background:linear-gradient(to right, #333333, #000000);
    border-radius:3px;
}

.input-slider-option #new_site_colors_monochromatic_temperature_slider.sliding-input::-webkit-slider-runnable-track {
    background:linear-gradient(to right, #3962D2, #ffffff, #F19C38);
    border-radius:3px;
}

.small-number-input {
    padding: 5px;
    width: 45px;
}

.input-slider-and-number {
    display:flex;
    flex-direction:row;
    width:45%;
    align-items: center;
    justify-content: flex-end;
}

.input-slider-and-number .sliding-input {
    width:-webkit-fill-available;
    margin-right:8px;
}

.new-site-form.two .submit-container {
    display:flex;
    justify-content:center;
}

.new-site-form.three .text-options {
    margin-bottom:var(--margin-m);
}

.new-site-form.three .text-option {
    display:flex;
    flex-direction:column;
    width:60%;
    border-radius:0.5em;
    padding:8px;
    background-color:transparent;
    cursor:pointer;
    transition:background-color 100ms ease-in-out,border-color 100ms ease-in-out;
    border-width:2px;
    border-style:solid;
    border-color:transparent;
}

.new-site-form.three .text-option:hover {
    background-color:var(--colors-grey-100);
}

.new-site-form.three .text-option.active {
    border-color:var(--colors-primary)
}

.new-site-form.three .text-option:not(:last-of-type) {
    margin-bottom:16px;
}

.new-site-form.four .button-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 335px;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.new-site-form.four .button-option-container {
    height:55px;
    margin-bottom: var(--margin-s);
    display: flex;
    align-items: center;
}
