<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-type" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Kraken</title>

    <!-- Site Meta -->
        <meta name="title" content="Kraken">
        <meta name="robots" content="index, follow">
        <meta name="language" content="English">

    <!-- Site Icons -->
        <!-- navbarLogoColor is a jinja variable that is defined in files that extend from this one. It defines what colour the logo should be - primary, secondary, or gradient -->
        <link rel="apple-touch-icon" sizes="512x512" href="{{url_for('static', filename='img/icon/512-512/kraken-icon-png-'+navbarLogoColor+'-128-128.png')}}">
        <link rel="icon" type="image/png" sizes="128x128" href="{{url_for('static', filename='img/icon/128-128/kraken-icon-png-'+navbarLogoColor+'-128-128.png')}}">
        <link rel="mask-icon" href="{{url_for('static', filename='img/icon/mask-icon/mask-icon.svg')}}">

        <link rel="canonical" href="CanonicalUrl">

    <!-- Font Awesome Imports -->
    <!-- fa is a large icon database where you can import them into your website -->
        <script src="https://kit.fontawesome.com/73a2cc1270.js"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">

    <!-- Internal Stylesheet Imports -->
        <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{url_for('static', filename='css/build.css')}}" rel="stylesheet" type="text/css" />

    </head>
    <body>

        <div class="page">
            <div class="application-container">

                <!-- Navigation bar, docked on the left hand side -->
                <!-- Contains the logo as a link to the homepage at the top, and a hamburger at the bottom -->

                <nav class="globalnav globalnav-vertical">
                    <div class="globalnav-content">
                        <div class="globalnav-list">
                            <div class="globalnav-logo">
                                <a class="globalnav-link globalnav-link-home link unformatted" href="{{ url_for('main_home') }}">
                                    <img class="globalnav-logo-image" alt="Kraken" src="{{url_for('static', filename='img/icon/512-512/kraken-icon-png-'+navbarLogoColor+'-512-512.png')}}" preserveAspectRatio>
                                    <span class="globalnav-link-hidden-text visibly-hidden">Kraken</span>
                                </a>
                            </div>
                            {% if navbarOptionsEnabled %}
                              <ul class="globalnav-list">
                                  <li class="globalnav-item one fake" role="button"></li>
                                  <li class="globalnav-item two" role="button">
                                      <div class="hamburger hamburger--collapse js-hamburger" id="globalnav-hamburger">
                                          <div class="hamburger-box">
                                              <div class="hamburger-inner"></div>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                            {% endif %}
                        </div>
                    </div>
                </nav>

                {% if navbarOptionsEnabled %}

                <!-- Floating option modal for the navbar, which is opened and closed via the hamburger in the navigation bar -->

                <div class="globalnav-floating-options">
                    <a class="globalnav-floating-option one" href="">
                        <span class="globalnav-floating-option-content text header small dark">My Sites</span>
                    </a>

                    <a class="globalnav-floating-option two" href="">
                        <span class="globalnav-floating-option-content text header small dark">Settings</span>
                    </a>

                    <a class="globalnav-floating-option three" href="">
                        <span class="globalnav-floating-option-content text header small dark">Logout</span>
                    </a>
                </div>

                <!-- Backdrop behind nav bar modal to apply a darkness filter behind the modal -->

                <div class="globalnav-floating-options-backdrop"></div>
                
                <script src="{{url_for('static', filename='js/globalnav-floating-options.js')}}"></script>

                {% endif %}


                <!-- External Script Imports -->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>

                <!-- Internal Script Imports -->
                    <script src="{{url_for('static', filename='js/main.js')}}"></script>

                {% block content %}
                {% endblock %}

            </div>
        </div>

    </body>
</html>
