{% extends "settings-base.html" %}

{% set navbarLogoColor = "primary" %}
{% set navbarOptionsEnabled = True %}

{% set settingsSidebarActivated = 4 %}
{% set flashedSiteNames = get_flashed_messages()[1] %}

{% block settings_content %}

<h3 class="settings-content-header text header dark">My Websites</h3>

<form class="settings-content-options">

    <div class="settings-content-table">
        <div class="settings-content-table-header">
            <div class="settings-content-table-row"><span class="text header dark">Websites</span></div>
            <div class="settings-content-table-row"><span class="text header small dark">@{{current_user.user_id}}</span></div>
        </div>

        <div class="settings-content-table-content">

            {% for site in flashedSiteNames %}

            <div class="settings-content-table-row {% if site==flashedSiteNames[-1] %}last-row{% endif %}">
                <span class="settings-content-table-row-icon text dark"><i class="fa-regular {% if site[2] %}fa-lock{% else %}fa-book-bookmark{%endif%}"></i></span>
                <span class="settings-content-table-row-title text dark"><a href='{{url_for("site_edit_home",name="@"+site[0],site=site[1]).replace("%40%40","@")}}' class="text link dark notformatted">@{{site[0]}}/{{site[1]}}</a></span>
                <span class="settings-content-table-row-size text dark">{{site[3]}}</span>
                <span class="settings-content-table-row-settings text dark"><a href='{{url_for("site_edit_home",name="@"+site[0],site=site[1]).replace("%40%40","@")}}' class="text link primary notformatted">Website Settings</a></span>
            </div>


            {% endfor %}

        </div>
    </div>


</form>

{% endblock %}
