{% extends "settings-base.html" %}

{% set navbarLogoColor = "primary" %}
{% set navbarOptionsEnabled = True %}

{% set settingsSidebarActivated = 1 %}
{% set avatarImagePath = get_flashed_messages()[1] %}

{% block settings_content %}

<h3 class="settings-content-header text header dark">Profile</h3>

<form class="settings-content-options">

    <div class="settings-content-option one">
        <h4 class="settings-content-option-title text dark bold">Name</h4>
        <input class="settings-content-option-input" type="text" name="settings_profile_name">
        <p class="settings-content-option-caption text small dark">Your name probably isn't used much yet, but may appear in reference to websites that you have created. Your current name is set to "{{current_user.name}}".</p>
    </div>

    <div class="settings-content-option two">
        <h4 class="settings-content-option-title text dark bold">Profile Picture</h4>
        <div class="settings-content-option-image-upload">
            <figure class="settings-content-option-image-upload-figure" style="background-image:url({{ url_for('static',filename='data/userIcons/'+current_user.user_id+'.png') }})"></figure>
        </div>
        <p class="settings-content-option-caption text small dark">The image must be a minimum of 200x200 pixels, and in a 1:1 ratio. This is not operational yet, and probably won't be for a while.</p>
    </div>
    
    <div class="settings-content-separator one"></div>

    <div class="settings-content-option three">
        <h4 class="settings-content-option-title text dark bold">Bio</h4>
        <textarea class="settings-content-option-input" type="text" name="settings_profile_bio" maxlength=240 placeholder="Tell us about yourself"></textarea>
    </div>

    <div class="settings-content-option four">
        <h4 class="settings-content-option-title text dark bold">Url</h4>
        <input class="settings-content-option-input" type="text" name="settings_profile_url">
    </div>
    
    <div class="settings-content-separator two"></div>
    
    <div class="settings-content-option settings-content-update">
        
        <p class="settings-content-option-caption text small dark">All of the above fields are optional and can be left blank. By filling them out, you agree that this information can be displayed publically and stored in our servers. We don't have a privacy statement, but we probably should.</p>

        <button class="field-submit btn primary thin rounded slide" type="submit">
            <span class="btn-content text uppercase primary">Update Profile</span>
        </button>

    </div>
    
</form>

{% endblock %}