{% extends "base.html" %}

{% set navbarLogoColor = "secondary" %}
{% set navbarOptionsEnabled = False %}
{% set messages = get_flashed_messages()[0] %}

{% block content %}

<link href="{{url_for('static', filename='css/auth.css')}}" rel="stylesheet" type="text/css" />
<div class="application-content">
    <div class="text-header-container">
        <h2 class="text header xl dark one">Kraken - Signup</h2>
        <ul class="header-options">
            <div class="header-option header-option-login notextselect" onclick="window.location.href=`{{ url_for('auth_login') }}`">
                <h4 class="text header bold">Login</h4>
            </div>
            <div class="header-option header-option-signup active notextselect">
                <h4 class="text header bold">Signup</h4>
            </div>
        </ul>
    </div>
    <div class="field-container active">
        <span class="field-warning text italic">
          {% if messages[0] %}
            {{ messages[1] }}
          {% endif %}
        </span>

        <form class="field-options" method="post" action="/signup/">

          {% set formItems = [
          ["Name","Name","text","name",false,messages[2]],
          ["Email","name@domain.com","email","email",false,messages[3]],
          ["Username","Username","text","username",false,messages[4]],
          ["Password","Password","password","password",true,""],
          ["Repeat Password","Again :/","password","password-repeat",""]
          ]
          %}

          {% for item in formItems %}
          <div class="field-option field-option-{{item[3]}}">
              <h4 class="text italic">{{item[0]}}</h4>
              <div class="field-input-container">
                  <input class="field-input" placeholder="{{item[1]}}" type="{{item[2]}}" name="{{item[3]}}" value="{{item[5]}}">
                  {% if item[4] %}
                  <span class="eye-reveal">
                    <i class="fa-solid fa-eye"></i>
                  </span>
                  {% else %}
                  <span class="eye-spacer"></span>
                  {% endif %}
              </div>
          </div>
          {% endfor %}

          <button class="field-submit btn secondary rounded slide" type="submit">
            <span class="btn-content text uppercase secondary">Submit</span>
          </button>

        </form>

    </div>
</div>

<script src="../static/js/auth.js"></script>
<script src="../static/js/signup.js"></script>

{% endblock %}
