{% extends "base.html" %}

{% set navbarLogoColor = "gradient" %}
{% set navbarOptionsEnabled = True %}

{% set settingsSidebarActivated = get_flashed_messages()[0] %}
{% set currentName = get_flashed_messages()[1] %}
{% set currentSite = get_flashed_messages()[2] %}

{% block content %}

<link href="{{url_for('static', filename='css/settings.css')}}" rel="stylesheet" type="text/css" />
<div class="application-content">
    <div class="text-header-container">
        <h2 class="text header large dark one">{{currentSite}}</h2>
    </div>

    <div class="settings-container">
        <div class="settings-sidebar">

            <a class="settings-sidebar-item one{% if settingsSidebarActivated==1 %} is-active{% endif %} link notformatted" {% if not settingsSidebarActivated==1 %}href="{{ url_for('site_edit_home',name=currentName,site=currentSite) }}"{% endif %}>
                <i class="settings-sidebar-item-icon fa-regular fa-browser"></i>
                <span class="settings-sidebar-item-title text large">Home</span>
            </a>

            <a class="settings-sidebar-item two link notformatted" href="{{ url_for('site_edit_app',name=currentName,site=currentSite) }}">
                <i class="settings-sidebar-item-icon fa-regular fa-pen-to-square"></i>
                <span class="settings-sidebar-item-title text large">Edit Site</span>
            </a>

        </div>

        <div class="settings-content">

            {% block settings_content %}
            {% endblock %}

        </div>
    </div>
</div>

{% endblock %}
