{% extends "site_create_base.html" %}

{% set navbarLogoColor = "primary" %}
{% set navbarOptionsEnabled = True %}

{% block site_create_base %}

    <p class="text dark">Choose a color scheme!</p>
    <div class="horizontal-separator one m-s-v"></div>

    <form class="new-site-form two" method="post">
        
        <div class="light-dark-selector-container">
            <div class="light-dark-selector">
                <h2 class="text large center one">Light or dark mode?</h2>
                <div class="button-container">
                    <div class="btn primary thin rounded slide from-left m-xs-t" id="new_site_lightModeToggle">
                        <span class="btn-content text uppercase primary notextselect">Light</span>
                    </div>
                    <div class="btn secondary thin rounded slide from-right m-xs-t" id="new_site_darkModeToggle">
                        <span class="btn-content text uppercase secondary notextselect">Dark</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="horizontal-separator one m-s-v"></div>
        <!--
        
        <div class="light-color-options">
            <div class="color-option"></div>
        </div>
        
        <div class="dark-color-options">
            <div class="color-option"></div>
        </div>-->
        
        <div class="horizontal-separator two m-s-v"></div>
        
        <div class="color-options">
            <div class="input-slider-option one">
                <span class="text dark bold">Light & Dark Bounds</span>
                <div class="input-slider-and-number">
                    <input class="input sliding-input" type="range" min="0" max="100" value="100" name="new_site_colors_light_dark_bounds" id="new_site_colors_light_dark_bounds_slider">
                    <input class="input small-number-input" type="text" pattern="[-+]?d*" min="-100" max="100" id="new_site_colors_light_dark_bounds_number">
                </div>
            </div>
            <div class="input-slider-option two">
                <span class="text dark bold">Monochromatic Temperature</span>
                <div class="input-slider-and-number">
                    <input class="input sliding-input" type="range" min="-100" max="100" value="0" name="new_site_colors_monochromatic_tint" id="new_site_colors_monochromatic_temperature_slider">
                    <input class="input small-number-input" type="text" pattern="[-+]?d*" min="-100" max="100" id="new_site_colors_monochromatic_temperature_number">
                </div>
            </div>
        </div>
        
        <div class="horizontal-separator three m-s-v"></div>
        
        <div class="color-display-container">
            
            <div class="color-display light-dark-display">
                <div class="color-single-card light-color" style="background-color:#ffffff;color:#000000"><span class="color-code text uppercase center">#ffffff</span></div>
                <div class="color-single-card dark-color" style="background-color:#000000;color:#ffffff"><span class="color-code text uppercase center">#000000</span></div>
            </div>
            
            <div class="color-display main-color-display">
                
                <div class="color-triple-card primary-color">
                    <div class="color-triple-card-main" style="background-color:#e63946;color:#000000"><span class="color-code text uppercase center">#e63946</span></div>
                    <div class="color-triple-card-sub-container">
                        <div class="color-triple-card-sub one" style="background-color:#ba2b36;color:#000000"></div>
                        <div class="color-triple-card-sub two" style="background-color:#f2414f;color:#000000"></div>
                    </div>
                </div>
                <div class="color-triple-card secondary-color">
                    <div class="color-triple-card-main" style="background-color:#457b9d;color:#000000"><span class="color-code text uppercase center">#457b9d</span></div>
                    <div class="color-triple-card-sub-container">
                        <div class="color-triple-card-sub one" style="background-color:#3f708f;color:#000000"></div>
                        <div class="color-triple-card-sub two" style="background-color:#508eb5;color:#000000"></div>
                    </div>
                </div>
                <div class="color-triple-card accent-color">
                    <div class="color-triple-card-main" style="background-color:#a8dadc;color:#000000"><span class="color-code text uppercase center">#a8dadc</span></div>
                    <div class="color-triple-card-sub-container">
                        <div class="color-triple-card-sub one" style="background-color:#93c5c7;color:#000000"></div>
                        <div class="color-triple-card-sub two" style="background-color:#b4ebed;color:#000000"></div>
                    </div>
                </div>

            </div>
            
            <div class="color-display grey-display">
                <div class="color-columns grey-colors expanding-columns-container">
                    
                    <div class="color-column expanding-column g900" style="background-color:#303030;color:#ffffff"><span class="color-code expanding-text text uppercase center">#303030</span></div>
                    <div class="color-column expanding-column g800" style="background-color:#474747;color:#ffffff"><span class="color-code expanding-text text uppercase center">#474747</span></div>
                    <div class="color-column expanding-column g700" style="background-color:#5e5e5e;color:#ffffff"><span class="color-code expanding-text text uppercase center">#5e5e5e</span></div>
                    <div class="color-column expanding-column g600" style="background-color:#757575;color:#ffffff"><span class="color-code expanding-text text uppercase center">#757575</span></div>
                    <div class="color-column expanding-column g500" style="background-color:#8c8c8c;color:#000000"><span class="color-code expanding-text text uppercase center">#8c8c8c</span></div>
                    <div class="color-column expanding-column g400" style="background-color:#a3a3a3;color:#000000"><span class="color-code expanding-text text uppercase center">#a3a3a3</span></div>
                    <div class="color-column expanding-column g300" style="background-color:#bababa;color:#000000"><span class="color-code expanding-text text uppercase center">#bababa</span></div>
                    <div class="color-column expanding-column g200" style="background-color:#d1d1d1;color:#000000"><span class="color-code expanding-text text uppercase center">#d1d1d1</span></div>
                    <div class="color-column expanding-column g100" style="background-color:#e8e8e8;color:#000000"><span class="color-code expanding-text text uppercase center">#e8e8e8</span></div>
                    
                </div>
            </div>
            
        </div>
        
        
        
        
        
    </form>

    <script src="{{url_for('static', filename='js/site-create-options-1.js')}}"></script>
    <script src="{{url_for('static', filename='js/colorConversion.js')}}"></script>

{% endblock %}
