{% extends "site_create_base.html" %}

{% set navbarLogoColor = "primary" %}
{% set navbarOptionsEnabled = True %}

{% block site_create_base %}

    <p class="text dark">Choose default styles</p>
    <div class="horizontal-separator one m-s-v"></div>

    <form class="new-site-form four" method="post">

        <div class="button-options">
            <div class="button-option-container">
                <div class="button-option slide-or-static">
                <div class="btn secondary thin rounded slide option-true">
                    <span class="btn-content text uppercase">Sliding Button</span>
                </div>

                <div class="btn secondary thin rounded option-false">
                    <span class="btn-content text uppercase">Solid Button</span>
                </div>
            </div>
            </div>
            
            <div class="button-option-container">
                <div class="button-option corner-options" style="opacity:0;visibility:hidden;">
                    <div class="btn secondary thin square slide option-true">
                        <span class="btn-content text uppercase">Squared</span>
                    </div>

                    <div class="btn secondary thin rounded option-false">
                        <span class="btn-content text uppercase">Rounded</span>
                    </div>

                    <div class="btn secondary thin pill option-false">
                        <span class="btn-content text uppercase">Pill</span>
                    </div>
                </div>
            </div>
            
            <div class="button-option-container">
                <div class="button-option thin-or-large" style="opacity:0;visibility:hidden;">
                <div class="btn secondary thin rounded slide option-true">
                    <span class="btn-content text uppercase">Thin</span>
                </div>

                <div class="btn secondary rounded slide option-false">
                    <span class="btn-content text uppercase">Large</span>
                </div>
            </div>
            </div>
            
            <div class="button-option-container">
                <div class="button-option left-or-right" style="opacity:0;visibility:hidden;">
                <div class="btn secondary thin rounded slide from-left option-true">
                    <span class="btn-content text uppercase">From Left</span>
                </div>

                <div class="btn secondary thin rounded slide from-right option-false">
                    <span class="btn-content text uppercase">From Right</span>
                </div>
            </div>
            </div>
        </div>
        
        <div class="horizontal-separator two m-s-v"></div>

        <div class="submit-container">
            <button class="field-submit btn primary thin rounded slide" type="submit" disabled>
                <span class="btn-content text uppercase primary">Continue</span>
            </button>
        </div>
        
        <input id="style-option-output" class="visibly-hidden" type="text" value="." name="new_site_style_options_list">

    </form>

    <script src="{{url_for('static', filename='js/colorConversion.js')}}"></script>
    <script src="{{url_for('static', filename='js/site-create-options-3.js')}}"></script>

{% endblock %}
