{% extends "base.html" %}

{% set messages = get_flashed_messages()[0] %}

{% block content %}

<link href="{{url_for('static', filename='css/auth.css')}}" rel="stylesheet" type="text/css" />

<div class="application-content">
    <div class="text-header-container">
        <h2 class="text header xl dark one">Kraken - Signup</h2>
        <ul class="header-options">
            <div class="header-option header-option-login notextselect" onclick="window.location.href=`{{ url_for('auth_login') }}`">
                <h4 class="text header bold">Login</h4>
            </div>
            <div class="header-option header-option-signup active notextselect">
                <h4 class="text header bold">Signup</h4>
            </div>
        </ul>
    </div>
    <div class="field-container active">

        <!-- Warning area for the form that uses the flashed warning message -->

        <span class="field-warning text italic">
          {% if messages[0] %}
            {{ messages[1] }}
          {% endif %}
        </span>

        <form class="field-options" method="post" action="/signup/">

          <div class="field-option field-option-name">
              <h4 class="text italic">Name</h4>
              <div class="field-input-container">
                  <input class="field-input" placeholder="Name" type="name" name="name" autofocus value="{{ messages[2]}}">
                  <span class="eye-spacer"></span>
              </div>
          </div>

          <div class="field-option field-option-email">
              <h4 class="text italic">Email</h4>
              <div class="field-input-container">
                  <input class="field-input" placeholder="name@domain.com" type="email" name="email" autofocus value="{{ messages[3]}}">
                  <span class="eye-spacer"></span>
              </div>
          </div>

          <div class="field-option field-option-username">
              <h4 class="text italic">Username</h4>
              <div class="field-input-container">
                  <input class="field-input" placeholder="Username" type="text" name="username" autofocus value="{{ messages[4]}}">
                  <span class="eye-spacer"></span>
              </div>
          </div>

          <div class="field-option field-option-password">
              <h4 class="text italic">Password</h4>
              <div class="field-input-container">
                  <input class="field-input" placeholder="Password" type="password" name="password">
                  <span class="eye-reveal">
                  <i class="fa-solid fa-eye"></i>
                  </span>
              </div>
          </div>

          <div class="field-option field-option-password-repeat">
              <h4 class="text italic">Repeat Password</h4>
              <div class="field-input-container">
                  <input class="field-input" placeholder="Again :/" type="password" name="password-repeat">
                  <span class="eye-reveal">
                  <i class="fa-solid fa-eye"></i>
                  </span>
              </div>
          </div>

          <button class="field-submit btn secondary rounded slide" type="submit">
            <span class="btn-content text uppercase secondary">Submit</span>
          </button>

        </form>

    </div>
</div>

<script src="{{url_for('static', filename='js/auth.js')}}"></script>
<script src="{{url_for('static', filename='js/signup.js')}}"></script>

{% endblock %}
